<html>
  <head>
    <title>Detox Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <div class="header">
      <h2 id="detox_search">Detox Search</h2>
      <form id="detox_form" action="" method="post">
        <input type="submit" name="next" value="next">
        <input type="submit" name="prev" value="prev"> 
        <input id="detox_input" type="text" placeholder="..." name="search" value="{{
          request.form.search }}">
        <input id="detox_search_btn" class="btn btn-default" type="submit" value="&#x1f50d">
      </form>
    </div>
    <div class="row">
      <div class="column side">
      </div>
      
      <div class="column middle">
        {% if result %}
        	{{result|safe }}
        {% endif %}
      </div>
      
    </div>

  </body>
</html>

