<html>
  <head>
    <title>Flask NoFap Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>search</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Search" name="search" value="{{
          request.form.search }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
    </div>
    {% if result %}
        <div>
        	{{result|safe }}
        </div>
    {% endif %}
  </body>
</html>

